<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<th:block layout:fragment="script">
        <script th:type="module" th:src="@{/js/home.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-sm h1">
                <p><strong class="text-success-emphasis">성균관대학교</strong>는</p>
                <p><strong class="text-success-emphasis" th:text="|${userCount}명|"></strong>의 구성원이</p>
                <p><strong class="text-success-emphasis" th:text="|${solvedCount}개|"></strong>의 문제를 풀었습니다</p>
            </div>
            <div class="col-sm">
                <div class="list-group">
                    <a href="/problems" class="list-group-item list-group-item-action list-group-item-success" aria-current="true"
                       data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="아직 푼 유생이 없는 문제">
                        추천 문제
                    </a>
                    <div th:each="problem : ${randomProblems}">
                        <a th:href="@{https://www.acmicpc.net/problem/{number}(number=${problem.problemNumber})}" target="_blank" class="list-group-item list-group-item-action">
                            <img th:src="@{/svg/{level}.svg(level=${problem.level})}" th:alt="${problem.level}" style="width: 20px"/>
                            <span th:text="|${problem.problemNumber}번 ${problem.titleKo}|">></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm h3">
                <p>백준에 학교 정보를 등록해주세요</p>
                <a href="https://www.acmicpc.net/setting/school">학교 등록</a>
            </div>
            <div class="col-sm h3">
                <p>유저 갱신은 최대 24시간이 걸릴 수 있습니다</p>
            </div>
        </div>
    </div>
</div>
</html>