<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="container px-3 py-3">
    <table class="table table-hover table-striped table-success">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Handle</th>
        <th scope="col">Bio</th>
        <th scope="col">Tier</th>
        <th scope="col">Rating</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <th th:text="${user.ranking}"></th>
          <td th:text="${user.handle}"></td>
          <td th:text="${user.bio}"></td>
          <td>
            <img th:src="@{/svg/{tier}.svg(tier=${user.tier})}" th:alt="${user.tier}" style="width: 20px"/>
          </td>
          <td th:text="${user.rating}"></td>
        </tr>
      </tbody>
    </table>

      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
          <a class="page-link" th:href="@{/users?page={pageNum}(pageNum=${page - 1})}">Previous</a>
        </li>
        <li th:each="pageNum : ${#numbers.sequence(0, totalPage - 1)}"
            th:if="${pageNum >= page - 5 and pageNum <= page + 5}"
            th:classappend="${pageNum == page} ? 'active'"
            class="page-item">
          <a class="page-link" th:text="${pageNum+1}" th:href="@{/users?page={pageNum}(pageNum=${pageNum})}"></a>
        </li>
        <li class="page-item" th:classappend="${page == totalPage - 1} ? 'disabled'">
          <a class="page-link" th:href="@{/users?page={pageNum}(pageNum=${page + 1})}">Next</a>
        </li>
      </ul>

  </div>
</div>
</html>